
/* Home Page & Top Menus*/
html, body {
  margin:  0;
  height: 100%;
}
/*
div.name-box {
	position: fixed;
	top: 9%;
	background-color: white;
	height: auto;
	width: 30%;
	border: 3px solid black;
	padding: 1% 3%;
	text-align: center;
	left: 32%;
	border-radius: 2px;
}

*/

#logo {
	position: fixed;
	height: auto;
	width: auto;
	top:20%;
	/*this is how to centre dynamic fixed*/
	right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
	/*then can scooch it over with padding*/
	padding-left: 1.5%;
	min-height: 40%;
	max-height: 50%;
	min-width: 33%;
	max-width: 70%;
	pointer-events: none;
}

h1 {
	font-size: 350%;
	font-family: 'Amatic SC', sans-serif;
	margin: 0px;
	letter-spacing: 0.15em;
}

nav.home-menu {
	z-index: 1;
	display: none;
	position: fixed;
	bottom: 4%;
	left: 10%;
	width: 80%;
	height: auto;
	margin:auto;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #f2f2f2;
	border: 2px solid #666666;
	text-align: center;
	border-radius: 1px;

	-webkit-animation-name: homeMen;
	 -webkit-animation-duration: 0.6s;
	 animation-name: homeMen;
	 animation-duration: 0.6s
}

@-webkit-keyframes homeMen {
		from {left: -90%; opacity: 0}
		to {left: 10%; opacity: 1}

}


nav.home-menu a{
	display: inline;
	font-family: 'Quando', sans-serif;
	text-decoration: none;
	color: #666666;
	font-size: 1.5em;
	margin: 0.6em;
	white-space: nowrap;
}

@media screen and (max-width: 450px) {
	nav.home-menu a{
		font-size: 1.2em;
	}


}
#menIcon {
	position: fixed;
	height:11%;
	width: auto;
	bottom: 2%;
	left:2%;
	z-index: 1;
	cursor: pointer;
}

div.voron {
	position: fixed;
	height: 100%;
	width: 100%;
}
#trees {
	position: fixed;
	height:100%;
	width: 100%;
	top: 0;
	left: 0;
	background-image: url('images/Trees3.svg');
	background-size: cover;
}

div.gen-men {
	width: 60%;
	margin: auto;
	max-width: 755px;
	/*border: 1px dotted black;*/
	text-align: center;

}

div.gen-men a {
	padding-left: 1%;
	padding-right: 1%;
	text-decoration: none;
	color: black;
	font-family: 'Quando', "Times", serif;
	font-size: 0.9em;
}

body.genbod {
	background-image: url("images/treeBack.svg");
	background-size: cover;
	background-attachment: fixed;
	pointer-events: all;
}

#menSelect {
	width: 100%;
	height: 22%;
}

.gen-men path {
	stroke: black;
	stroke-width: 1;
	fill: none;
	stroke-linejoin: round;

}
.gen-men text{
	font-family: 'Quando', "Times", serif;
	font-size: 0.6em;
}


svg.trees g {
	pointer-events: none;
}
svg.trees {
	pointer-events: none;
}
svg.trees path {
	pointer-events: none;
}

g.branches path {
	fill: black;

}
g.background path {
	fill: #faf9fc;
}
div.trees {
	pointer-events: none;
}
@media screen and (max-width: 700px) {
	.gen-men text{
		font-size: 0.65em;

	}


}

p {
	font-family: 'Khula', "Avenir", sans-serif;

}

.blurb a {
	color: black;
}

/* GENERAL SHIT /////////////////////////////////////*/
.content-data p {
	font-family: 'Khula', "Avenir", sans-serif;
}

.content-data h3 {
	font-family: 'Cormorant Garamond', sans-serif;
	cursor: pointer;
}
h2 {
	font-family: 'Cormorant Garamond', sans-serif;
	font-style: italic;
	font-weight: normal;
/*	letter-spacing: 6px;*/
	font-size: 250%;

}

div.content-data {

	margin: auto;
	height: auto%;
	width: 92%;
	max-width: 955px;
	background-color: white;
	border: 0.5px solid #eeedef;
	/*remove later!!!!!!!!!!!!!!!!!!!!!!*/
	min-height: 800px;
	margin-bottom: 2%;
}
/* About page ///////////////////////////////////////////*/

#aboutblurb img{
	float: left;
	width: 30%;
	padding-right: 3%;
	padding-bottom: 3%;

}
#aboutCont {
	border-bottom: 0.5px solid #8b8ba0;
	border-top: 0.5px solid #8b8ba0;
}

#abCon {
	margin-top: 0.2em

}

@media screen and (max-width: 500px) {
	#abTag {
		font-size: 1.5em;
	}
}

/* Bot Illustration /////////////////////////////////////*/
#bot-main {
	display: block;
	position: static;
	height: auto;
}

#bot-head-top {
	min-height: 130px;
	height: 28%;
	background-image: url("images/top.jpg");
	background-repeat: no-repeat;
  background-size: cover;
	background-position: bottom;
}

#bot-head-blurb {
	background-color: white;
	padding: 0% 5% 5%;
/*	border-top: 0.5px solid #eeedef;*/
	border-bottom: 0.25px solid #666666;

}

#bot-head-blurb h2 {
	margin: 0%;
	/*text-align: center;*/
	font-size: 280%;
}
#bot-cont {
	background-color: rgba(102, 102, 102, 0);
	position: relative;
	height: 100%;
	margin-bottom: 0;

}

#bot-low-back {
	display: block;
	position:relative;
	height: 100%;
	z-index: -1;
}
#bot-head-roots {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

#botil-lowhalf {
	background-image: linear-gradient(rgba(102, 102, 102, 0),rgba(102, 102, 102, .9) 40em);
	padding-top: 5%;
	padding-bottom: 3%;
	width: 100%;
}

#botil-lowblurb {
	background-color: rgba(250, 250, 259, .95);
	margin: auto 4% 4%;
	padding: 3%;
}
#botil-lowblurb * {
	color: black;
	/*color: #f7f7f7;
	font-weight:bolder;*/
}

.bot-row {
	display: flex;
	flex-wrap: nowrap;
	margin-left: 1%;
	width: 100%;

}

.bot-row img {
		flex-direction: row;
		flex-shrink: 1;
    margin-top: 1%;
		margin-right: 1%;

		height: 100%;
		max-width: 100%;
		cursor: pointer;


}
/* Bot modal window*/
#botil-mod-all {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top:0;
	height: 100%;
	width: 100%;

}
#botil-modal {
	position: fixed;
	z-index: 1;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	max-height: 50%;
	padding: 1%;
	background-color: #eeedef;
	border-top: 0.25px solid #8b8ba0;
	overflow: auto;
	-webkit-animation-name: slideIn;
	 -webkit-animation-duration: 1s;
	 animation-name: slideIn;
	 animation-duration: 1s
}
@-webkit-keyframes slideIn {
    from {bottom: -20%; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -20%; opacity: 0}
    to {bottom: 0; opacity: 1}
}


#bot-mod-thumb {
	max-width: 20%;
	width: auto;
	margin: 2% 2% 2% 5%;
	height: auto;
	max-height: 250px;
	display: inline;
	vertical-align: top;
	border: 0.25px solid white;
}
#bot-mod-text{
	display: inline-block;
	vertical-align: top;
	background-color: #eeedef;
	padding: 1.4%;
	width: 50%;
	margin-left: 2%;

}
#bot-mod-text h5 {
	font-family: 'Cormorant Garamond', sans-serif;
	font-style: italic;
	font-size: 1.5em;
	padding: 0.2em;
	border-bottom: 1px solid black;
	margin: 0;
}
#medium-size {
	margin-top: 0;
}
#bot-mod-text a {
	color: black;
}

#howmake-d {
	display: block;
	background-color: white;
	width: 100%;
	height: auto;

}


/* Data Vis //////////////////////////////////////////*/
#botmap-legends {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 50px;
	margin-top: 2%;
}


#month-slider {
	position: absolute;
	width: 70%;
	margin-left: 13%;
	margin-top: 5%;
}

#controls, #full-fig{
		display: inline-block;
		vertical-align: top;

}
#controls {
	width: 16%;
}
#map {
	width: 100%;

}

#seasons{
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

#seasons h3 {
	display: inline-block;
	margin: 4%;
	color: #fff9e1;
}


#heatDiv {
	width: 80%;
	margin-left: 10%;
	pointer-events: none;
	top: 0;
	height: auto;

}

rect.handle{
	fill: #8b8ba0;
}

svg text{
	font-family: 'Khula', "Avenir", sans-serif;
}



div.blurb {
	padding: 3% 6%;
}
/*
h2 {
	font-family: 'Cormorant Garamond', sans-serif;
font-style: italic;
/*	letter-spacing: 6px;
	font-size: 250%;

}*/
#fig-and-controls {
	position: relative;
	margin-top: 6%;
	padding-top: 2%;
	padding-left: 6%;
	margin-bottom: 6%;

}
#fig-and-controls h3{
	font-size: 140%;


}
#full-fig {
	position: relative;
	margin-left: 6%;
	width: 70%;
}

div.divider {
	width: 70%;
	margin: 12% auto;
	height: 0;
	border-bottom: 0.5px solid #8b8ba0;
}

/* botmap modal window */
#bot-modal {
	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s;
}

#bot-mod-cont {
position: relative;
background-color: #94949e;
width: 60%;
height: 100%;
margin-left: 40%;
border-left: 0.5px solid #a9a9b1;
-webkit-animation-name: fadeIn;
-webkit-animation-duration: 0.4s;
animation-name: fadeIn;
animation-duration: 0.4s;
}

#mod-text{
	padding: 1%;

}

#mod-text h3{
	margin:none;
	font-size: 200%;
	padding-left: 5%;
	font-style: italic;
	color: #faf9fc;
	font-family: 'Cormorant Garamond', sans-serif;
}

#sketch {
	width: 90%;
	height: 70%;
	margin: auto;
	background-repeat: no-repeat;
  background-size: contain;
	background-position: center;

}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

/* Seudum fig stuff //////////////*/
#sedum-all {
	margin-bottom: 7%;
	position: relative;
}
#sed-fig {
	display: inline-block;
	width: 70%;
}
#sed-title{
	font-size: 1.8em;
	width: 35%;
	padding-bottom: 1%;
	margin-bottom: 0.5%;
	border-bottom: 0.5px solid #8b8ba0;
}
#sed-top-view * {
	margin-top: 0%;
	display: inline;
	padding-right: 1em;
}

#sedum {
	width: 50%;
	margin-left: 20%;
	margin-right: 6%;
	display: inline-block;
}
#sedum g {
	cursor: pointer;
}
#colour-leg {
	width:11%;
	display: inline-block;

}
text.rowLabel {
	cursor: pointer;
}
#sedum-leg {
	display: inline-block;
	vertical-align: top;
	width:25%;
	padding: 2%;
}

#sed-leg-head{
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.5em;
}
#sedum-heat {
	width:97%;
	height:auto;
	max-height: 300px;
	margin-left: 3%;
}

#sedum-tool {
	position: absolute;
	text-align: center;
	font-family: 'Khula', "Avenir", sans-serif;
	pointer-events: none;
	background: white;
	border: 1px solid #eeedef;
	height:	auto;
	width: auto;
	padding: 0.25em 1em;
}
@media screen and (max-width: 800px) {

			#sed-fig{
				width: 100%;
				padding-right: 2%;
			}
			#sedum-leg {
				display: block;
				margin: auto;
				width: 90%;
			}
			#sedum-leg h4 {
				font-size: 100%;
			}
			#sedum-leg p {
				font-size: 80%;
			}
}

/*Resizing for small screens */
@media screen and (max-width: 700px) {
	#controls, #full-fig{
			display: block;
			vertical-align: top;
			width: 100%;
			margin:auto;
		}

		#fig-and-controls {
			padding: 1%;

		}
		#controls h3 {
			display: inline;
			margin:2%;
		}


		#controls {
			position: relative;
		}

		#controls svg {
			width: 25%;
			margin-left: 68%;
			position: absolute;
			top: 90%;
		}
		#heatDiv {
			bottom: -30%;
		}


}
@media screen and (max-width: 500px){
	#seasons h3{
		margin:1%;
		font-size: 150%;
	}
}
@media screen and (max-width: 400px) {
	#controls h3 {
		display: inline;
		margin: 2%;
		font-size: 110%
	}
	#seasons h3{
		margin:1%;
		font-size: 110%;
	}
	#seasons{
		width:95%;
		margin-left: auto;
		position: absolute;
		bottom: 0%;
	}

}

/*//BLOG ////////////////////////////////////////*/
#blogtopper {
	width: 100%;
	height: 10em;
	background-image: url('images/blogtopper.png');
	background-size: cover;
	background-position: bottom;
}
#bloghead {
	border-bottom: 0.5px solid #8b8ba0;
}
#bloghead h2 {
	margin-top: 0;
}

.phoneframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: none
}
.phoframecont {
	position: relative;
	min-height: 730px;
	max-width: 380px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2%
}

.blogpic {
	display: block;
	height: auto;
	width: 96%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2%;
}

.inlinegroup {
	display: inline-block;
	width: 50%;
	margin: auto;
}
