
html {
	width: 100%;
	height: 100%;
	margin: 0%;
}
body{
	width: 100%;
	height: 100%;
	margin: 0%;
	background-color: #E8D2B9;

}


.tile-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	cursor: pointer;

}

div.tile-hover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(98, 64, 30);
	background-color: rgba(98, 64, 30, 0.6);
	display: flex;
 	justify-content: center;
 	align-items: center;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
}


h2 {
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	text-align: center;
	color: #E8D2B9;
}

.tile-grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 90%;
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}
#budge {
	display: none;
}
div.tile {
	display: flex;
	width: 48%;
	padding-top: 48%;
	position: relative;
	border: 0.25px solid #aa8a6a;
	margin-top: 2%;
	margin-bottom: 2%;
}
div.tile.wid-boy {
	width: 96%;
}
div.last-tile{
	display: none;
}


/*Modal stuff*/
#notmod {
	width: 100%;
	height: 100%;
	overflow: auto;
}

#modal {
	display: none;
	position: fixed;
	overflow-y: scroll;
  z-index: 20;
  padding-top: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	/*
	background-color: rgba(25, 25, 114);
	background-color: rgba(25, 25, 114, 0.6);
	*/

	background-color: rgba(232, 210, 185, 0.93);
	/*backgrounnd filter fucks video fullscreen on desktop safari*/
	backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
	opacity: 1;
	
}


/* Modal Content (Image) */
#modal-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  width: 90%;
	height: 55%;
	margin: auto;
}
.modal-image {
	box-shadow: 0px 3px 20px #00000014;
	max-width:100%;
	max-height:100vh;
	margin: 1%;
	display: block;

}
.modal-vid {
	box-shadow: 0px 3px 20px #00000014;
	aspect-ratio: 16/9;
	height:100%;
	width:100%;
	display: block;
	margin: 1%;

}
#modal h2, #modal span, #modal p {
	color: #62401E;
	text-align: left;
}
#mod-cap {
  margin: auto;
	padding-top: 1.5em;
	padding-bottom: 1em;
  display: block;
	width: 90%;
  max-width: 800px;

}



#close {
	font-family: 'Space Mono', sans-serif;
  position: absolute;
  top: 0vmin;
  right: 3vmin;
  color: #E8D2B9;
  font-size: 40px;
  transition: 0.3s;
	cursor: pointer;
}

#title {
	padding: 3vh;
	top: 10vh;
	* {
		color: #62401E;
		
	}
}
.sctn-hd {
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
}

h1 {
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-size: 3.2em;
	text-align: center;
	margin: 0
}
/*really this should be h2 but I don't want to go through and change*/
h3 {
	font-family: 'Space Mono', sans-serif;
	font-weight: 400;
	font-size: 1.8em;
	text-align: center;
	color: #62401E;
	margin: 0
}

h4 {
	font-family: 'Space Mono', sans-serif;
	font-weight: 400;
	font-size:1.3em;
	text-align: center;
	color: #E8D2B9;
	margin: 0
}

p {
	font-family: 'Space Mono', sans-serif;
	font-weight: 400;
	font-size: 1em;
	text-align: left;
	color: #62401E;
}




.blurb {
	width: 90%;
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8%;
	margin-top: 0;

}

.blurb-text {
	width: 100%;
}

hr {
	border: 1px solid #62401E;
	border-radius: 1px;
}

.blurb-title * {
	display:inline-block;
	vertical-align: middle;
}

.blurb-img {
	width: 100%;
}
.blurb-img img{
	width: 90%;
	height: auto;
	margin-left: 5%;
}
#me {
	display: none;

}


.footer {

	display: flex;
	flex-direction: column;
	align-items: center;

}
.footer p {
	color: #62401E;
	margin: 0.3em;
}

#contbut {
	
	background-color: #62401E;
	border: 2px solid #62401E;
	border-radius: 800px;
	overflow: auto;
	padding: 0.4em 4em;
	box-shadow: 0px 3px 10px #62401E3E;
	cursor: pointer;
	
}
#contbut h3{
	color: #E8D2B9;
	font-size: 1.5em;
	font-weight: 500;

}

/*Touch Screen safe hover states*/
@media (hover:hover){

#contbut:hover {
	background-color: white;
}
#contbut:hover h3 {
	color: #62401E;
}

.tag-button:hover {
	background-color: #62401E;
}
.tag-button:hover h5 {
	color: #E8D2B9;
}

}


a {
	text-decoration: none;
	color:#62401E;

}

#cap-para a {
	text-decoration: underline;
}

#icons {
	margin-top: 5%;
	overflow: auto;
}
#icons a{
	padding: 0 .3em .4em .3em;
	display: inline-block;
}
#icons img {
	height: 2em;
}

#last {
	margin-bottom: 5%;
}

.in-text-link {
	color: #62401E;
	font-weight: 600;
	cursor: pointer;

}

/*Filter buttons*/
#filter-btn-cont {
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	justify-content: center;
	width: 90%;
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	margin-top: 0;
}
.tag-button {
	box-shadow: 0px 2px 7px #62401E3E;
	border: 1px solid #62401E;
	border-radius: 31px;
	padding: .4em 1em;
	overflow: auto;
	margin: .4em .3em;
	cursor: pointer;
	background-color: white;

}

h5 {
	color: #62401E;
	font-family: 'Space Mono', sans-serif;
	font-weight: 600;
	font-size: .8em;
	text-align: center;
	margin: 0;

}


p.warning {
	color: #9c754e;
	padding-left: auto;
	text-align: center;
}
#nothingHere {
	margin-top: 5vh;
	width: 100%;
}

#logo-splash {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	width: 90%;
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4%;
	margin-top: 1%;
}
#logo-splash img {
	
	height: auto;
	aspect-ratio: auto;
	padding: 0.5em .75em;
	align-self: center;

}

#floater-cont{
	z-index: 15;
	position: fixed;
	top: 2%;
	left: 2%;
}
#dsk-scrl {
	display: none;
	margin-top: 1em;
	background-color: #62401E;
	border: 1px solid #62401E;
	border-radius: 800px;
	vertical-align: middle;
	width: 1.6em;
	padding: 0.6em 0.6em 0.4em 0.6em;
	box-shadow: 0px 3px 10px #62401E3E;
	cursor: pointer;
	* {
		height: 1.5em;
		margin: 1px;
		display: inline-block;
		filter: brightness(2400%);
	}
}
#dsk-scrl:hover {
	background-color: white;
	* {
		filter: brightness(100%);
	}

}

#port-float{
	background-color: #62401E;
	border: 2px solid #62401E;
	border-radius: 800px;
	overflow: auto;
	vertical-align: middle;
	padding: 0.5em 0.5em;
	box-shadow: 0px 3px 10px #62401E3E;
	cursor: pointer;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;

}
#port-float h4 {
	max-width: 0;
	display: inline-block;
	-webkit-transition: color .25s .75s, max-width 1.5s, padding 1.5s;
	transition: color .25s .75s, max-width 1.5s, padding 1.5s;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	color:#62401E;
	padding: 0;
	pointer-events: none;

  }
#port-float img {
	height: 1.5em;
	display: inline-block;
	margin-right: -.15em;
	-webkit-transition: padding 1.5s;
	transition: padding 1.5s;
}
#port-float:active h4, #port-float:hover h4{
	max-width: 300px;
	color: #E8D2B9;
	padding: 0em .5em 0em .6em;
	pointer-events: all;

}
#port-float:active img, #port-float:hover img {
	padding: 0em 0em 0em .3em;
}


/*Desktop*/
@media (min-width: 700px){
	#dsk-scrl {
		display: block;
	}
	#title{
		top: 15vh;
	}
	#tit-brake {
		display: none;
	}
	#filter-btn-cont {
		width: 80%;
		max-width: 766px;
		margin-bottom: 0;
		margin-top: 0;
	}
	.subhead {
		margin-top: 10vh;
		margin-bottom: 1.5em;
	}

	.tag-button {
		box-shadow: 0px 3px 10px #62401E3E;
		padding: 0.3em 1.5em;
		margin: .5em .5em;
	}
	h5{
		font-size: .95em;
	}

	#modal {
		padding-top: 0%;
	}
	#modal-container{
		display: flex;
		align-items: center;
		justify-content: center;
	  width: 90%;
		height: 60%;
		margin: auto;
	}

	div.tile {
		display: flex;
		width: 31%;
		padding-top: 31%;
	}
	div.tile.wid-boy {
	width: 65.5%; 
	}
	div.last-tile{
		display: flex;
	}

	h1 {
		font-family: 'Rubik', sans-serif;
		font-weight: 900;
		font-size: 4.3em;
		text-align: center;
		color: #62401E;
		margin: 0
	}
	h3 {
		font-family: 'Space Mono', sans-serif;
		font-weight: 400;
		font-size: 2.1em;
		text-align: center;
		color: #62401E;
		margin: 0
	}

	p {
		font-family: 'Space Mono', sans-serif;
		font-weight: 400;
		font-size: 1em;
		text-align: left;
		color: #62401E;
	}

	.blurb {
	width: 90%;
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	flex-direction: row;
	}

	.blurb-text {
		width: 50%;
		order: -1;
	}
	.blurb-img {
		width: 49%;
	}
	.blurb-img img{
		width: 90%;
		height: auto;
		margin-left: 10%;
	}
	#me {
		display: block;
		max-width: 300px;
		margin-left: auto;
		margin-right: 0

	}
	#budge {
		display: flex;
		border: none;
		height: 1px;
	}

	
}
